/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styling */
body {    
    background-image: url(https://images.pexels.com/photos/1022692/pexels-photo-1022692.jpeg?cs=srgb&dl=pexels-frans-van-heerden-1022692.jpg&fm=jpg);
    background-size: cover;    
}


/* Header styling */
header {
    padding: 60px 40px;    
    display: flex;
    background-image: url("../images/beer.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
    justify-content:center;
    flex-wrap: wrap;   
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
    margin:auto;
}

#tagline {
    font-weight: bold;
    font-size: 1.25rem;
}

.jumbotron {    
    background-color: white;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;    
}

nav ul li a {
    /* How to display inline? */
    margin: 0px 30px;    
    font-size: 1rem;
    text-decoration: none;   
    padding-bottom: 2px;
}

/* #facts {
    display: none;
} */
  

/* Page 1 and 2 search bar styling */
.search-bar-1 {    
    background-color: white;
    opacity: 0.8;
    padding: 20px 20px; 
    margin-left: 25%; 
    margin-top: 50px;  
    text-align: center;
    font-weight: bold;    
}


/* Page 1 main content styling */
.main-content-1 {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 20px 20px;
    margin: 50px;
}

#about-app {
    padding: 20px 20px;
    margin: 50px;
    font-size: 1.25rem;
}

#fun-facts {
    padding: 20px 20px;
    margin: 50px;
    font-size: 1.25rem;
}

#health-facts {
    padding: 20px 20px;
    margin: 50px;
    font-size: 1.25rem;      
}

.fold {
    color: black;    
}

.landing-page-facts {
    text-align: left;
    padding: 10px 10px;
}

#authors {
    padding: 20px 20px;
    /* margin-top: 25px; Why isn't this styling correctly? */
    /* want these to display inline */
}


/* Page 2 main content styling */
#brewery-search-results {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    width: 75%;
    padding: 20px 20px;
    margin-top: 25px;
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f28e1c;
}

.heading-3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f28e1c;
}

.search-bar-2 {
    background-color: white;
    opacity: 0.8;
    padding: 20px 20px; 
    margin-left: 38%; 
    margin-top: 20px;  
    text-align: center;
    font-weight: bold;   
}

.search-bar-3 {
    background-color: white;
    opacity: 0.8;
    padding: 20px 20px; 
    margin-left: 38%; 
    margin-top: 20px;  
    text-align: center;
    font-weight: bold;  
}

.cardflip {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
  
.innercardflip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(232, 224, 13, 0.2);
}
  
.cardflip.hover .innercardflip {
    transform: rotateY(180deg);
}
  
.cardflip-front, .cardflip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.cardflip-front{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0); 
}
  
.cardflip-back {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 42, 255);    
    transform: rotateY(180deg);
}

